/* line 12, ../sass/lfm.scss */
.albums {
  position: relative;
}
/* line 14, ../sass/lfm.scss */
.albums:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/lfm.scss */
.album {
  float: left;
  height: auto;
  position: relative;
  font-size: .8em;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, z-index 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out, z-index 0.4s ease-in-out;
  -ms-transition: -ms-transform 0.4s ease-in-out, z-index 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out, z-index 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, z-index 0.4s ease-in-out;
  -webkit-perspective: 600px;
  perspective: 600px;
}
/* line 29, ../sass/lfm.scss */
.album img {
  width: 100%;
  height: auto;
}
/* line 34, ../sass/lfm.scss */
.album .front, .album .back {
  float: none;
  width: 100%;
  height: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  -ms-transition: -ms-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
/* line 43, ../sass/lfm.scss */
.album .front {
  z-index: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* line 46, ../sass/lfm.scss */
.album .front .alpha {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
}
/* line 60, ../sass/lfm.scss */
.album .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/* line 74, ../sass/lfm.scss */
.album.flip {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  z-index: 10;
}
/* line 77, ../sass/lfm.scss */
.album.flip .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 79, ../sass/lfm.scss */
.album.flip .front .alpha {
  opacity: 1;
}
/* line 83, ../sass/lfm.scss */
.album.flip .back {
  z-index: 2;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
